html{
  background-color:rgba(192, 147, 50, 0.301);
}
body{
  background-color: rgb(250, 231, 231);
  color: rgb(39, 20, 70);
  /* serif */
  font-family:serif;
  font-size: 15px;
  width: 960px;
  margin:auto;
}

h1{
  font-size: 75px;
  text-align: center;
  background-color: black;
  font-style: oblique;
  color: brown;
}
     

h2{
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
  

}
h3{
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  overflow: auto;
}

h4{
  font-size: 20px;
  font-weight: bolder;
  font-family: serif;
  font-style: italic;
  text-align: center;
}

section{
  margin-top: 10px;
  z-index: 2;
  text-align: center;
}




nav{
  width: 640px;
  height: 70px;
  font-size: 20px;
  padding-left: 320px;
  background-color: brown;
  text-align: start;
  color: blueviolet;
  
  
}


li{
  width: 320px;
  height: 45px;
  padding-top: 25px;
  float: left;
  text-align: center;
  color: rgb(167, 167, 167);
  
}

li:hover{
  background-color: rgb(223, 48, 193);
  text-decoration: cyan;
}

a:link {
  color: rgb(59, 7, 7);
  text-align: center;
}


a:visited {
  color: rgb(59, 7, 7);
}

header{
  text-align: center;
}

aside{
  text-align: center;
}

article{
  width: 900px;
  line-height: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
}

table{
  margin: 1px;
  font-size: 15px;
  border: 1px solid black;
  background-color: rgb(168, 139, 139);
}

th{
  margin: 1px;
}

td {
  margin: 1px;
  font-size: 15px;
  border: 1px solid black;
  background-color: rgb(153, 166, 185);
}

#logo{
  position: absolute;
  top: 0px;
  left: 33%;
  height: 200px;
  z-index: -1;
}

#legal{
  font-size: 20px;
  font-weight: bold;
  color:black;
}

#cookie-table-head{
  width: 100px;
}

.highlight{
  /* Google Font */
  font-family: 'Alfa Slab One', cursive;
  color: rgb(173, 76, 76);
  letter-spacing: .1em;
}

.data{
  /* sans-serif */
  font-family: 'Montserrat', sans-serif;
  color: rgb(54, 6, 6);
  font-size: 200px;
  
}
h2 {
  font-size: 25px;
  color: red;
}

.main-img{
  height: 200px;
  margin: 15px;
}

.inline{
  margin-top: 15px;
}

.family{
  margin-left: 54px;
  margin-right: 54px;
}