html{
  background-color:white;
}
body{
  background-color: rgb(250, 231, 231);
  color: rgb(39, 20, 70);
  /* serif */
  font-family:serif;
  font-size: 15px;
  width:1090px;
  margin:auto;
}

h1{
  font-size: 75px;
  text-align: center;
  background-color: black;
  font-style: oblique;
  color: brown;
  width: 1090;
}
     

h2{
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
  

}
  article p {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  overflow: auto;
}

h4{
  font-size: 20px;
  font-weight: bolder;
  font-family: serif;
  font-style: italic;
  text-align: center;
}

section{
  margin-top: 10px;
  z-index: 2;
  text-align: center;
}

 li.Opening{
   background-color: greenyellow;

}


nav{
  width: 770px;
  height: 70px;
  font-size: 20px;
  padding-left: 320px;
  background-color: brown;
  text-align: start;
  color: blueviolet;
  cursor: pointer;  
  
  
}

#image1{
  float: left;
  height: 250;
  width: 280;
}
#image2{
  float: right;
}
li{
  width: 320px;
  height: 45px;
  padding-top: 25px;
  float: left;
  text-align: center;
  color: rgb(167, 167, 167);
  
}

li:hover{
  background-color: rgb(223, 48, 193);
  text-decoration: cyan;
}

a:link {
  color: rgb(59, 7, 7);
  text-align: center;
}


article{
  width: 900px;
  line-height: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
}

table{
  margin: 1px;
  font-size: 15px;
  border: 1px solid black;
  background-color: rgb(168, 139, 139);
}

th{
  margin: 1px;
  padding: 15px;
}

td {
  margin: 1px;
  font-size: 15px;
  border: 1px solid black;
  background-color: rgb(153, 166, 185);
  padding: 15px;
}

#logo{
  position: absolute;
  top: 0px;
  left: 33%;
  height: 200px;
  z-index: -1;
}

#legal{
  font-size: 20px;
  font-weight: bold;
  color:black;
}

#cookie-table-head{
  width: 100px;
}

.highlight{
  /* Google Font */
  font-family: 'Alfa Slab One', cursive;
  color: rgb(173, 76, 76);
  letter-spacing: .1em;
}

.data{
  /* sans-serif */
  font-family: 'Montserrat', sans-serif;
  color:red;
  font-size: 200px; 
}
#cookiesstore-table{
  color: blue;
  font-family: cursive;
  
}

#legend {
  color: blue;
  cursor: pointer; 
}
  
.main-img{
  height: 200px;
  margin: 15px;
}

.inline{
  margin-top: 15px;
}

.family{
  margin-left: 54px;
  margin-right: 54px;
}
 
#outer-field{
font-size: 15px;
}
#inner-field{
  font-size: 15px;
color: blue;
}






